<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="rabbit" type="Infra.Mediator.RabbitSection,Infra.Mediator" />
  </configSections>
  <rabbit>
    <settings
      user = "HBMDM"
      password = "HBS1S@2018"
      host = "172.30.8.49"
      queue= ""
      exchange= ""
      routingKey= ""/>
  </rabbit>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>